.Header{
    position: relative;
    bottom: 27px;
    padding: 2.5%;
   background-color: whitesmoke;
   
   
}

.Name{
   background:whitesmoke;
   font-size: 30px;
   background-color:rgb(15, 194, 179) ;
   color: white;
   width: fit-content;
   padding:15px;
   padding-bottom: 20px;
   
}
   
.Namebox{
    height: 100px;
 padding-bottom: 0px;

}

    
.About{
    position: relative;
    left: 55%;
    background-color: whitesmoke;
    
   
    
    
}

H2{
    color: rgb(15, 194, 179);
    padding-left: 20px;
}
p{
  font-size: 20px;
   padding-bottom: 100pxS;
}

.Portfolio{
    position: relative;
    left: 65%;
    background-color: whitesmoke;
    
   

}

.Contacts{
   position: relative;
    left: 75%;
    background-color: whitesmoke;
  
    

}

.Me{
    background-color: whitesmoke;
    margin-top: 20px;  
    height: 500px;
    width: 1000px;
  position: relative;
  left: 20%;
  
}

body{
background-color: whitesmoke;
padding-top: 20px;
padding-left: 40px;
padding-right: 40px;
word-spacing: 5px;

}

img{
    height: 200px;
   float: left;
   padding-right: 20px;
   padding-left: 20px;
}