.Header{
    background-color: #ffffff;
    padding-left: 26%;
    padding-top: 50px;
}

.About{
    color: #777777;
    margin-left: 100px;
    font-family: 'Courier New', Courier, monospace;
}
    

.Portfolio{
    color: #777777;
    margin-left: 100px;
    font-family: 'Courier New', Courier, monospace; 
}

.Contacts{
    color: #777777;
    margin-left: 100px;
    font-family: 'Courier New', Courier, monospace;
}

nav{
    background: #ffffff;
    margin-top: -50px;
    margin-left: 450px;
    padding-bottom: 9px;  
}


h1{
    color: white;
    background-color:#4aaaa5 ;
    width: 240px;
    padding: 20px;
}

h2{
    color: #4aaaa5;
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 40px;
}

.container{
    width: 940px;
    margin-left: 26%;
    background-color:#ffffff;
    padding-right: 20px;
    height: 600px;
}

body{
    background-image: url("../images/background.png");
    border-bottom: 10px solid #4aaaa5;
    height: 1095px;
    
}

p{
    color: #777777;
    line-height: 30pt;
}

.bio-image{
    height: 300px;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}

img{
    height: 300px;
}

footer{
    margin-top: 285px;
    height: 100px;
    width: 100%;
    color: white;
    background-color: #666666;
    text-align: center;
}

.button {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 100px;
    height: 40px;
    font-size: 16px;
    border: none;
    position: relative;
    top: -8px;
    margin-top: 20px;
}

.contactform {
    position: relative;
      text-align: center;
      width: 960px;
      top: 30px;
      margin-left: 125px;
      margin-bottom: 50px;
      padding-left: 20px;
}

.form-container {
    margin: 0 auto;
    background-color: #ffffff;
    height: 600px;
    width: 960px;
    margin-right: 435px;


}

#name,#email,#textfield{
    width: 900px;
    height: 40px;
    font-size: 20px;

}

#textfield{
    height: 300px;
}

#contact{
    margin: 20px;
}

#portfolio-container {
    position: relative;
    text-align: left;
    width: 960px;
    margin-top: 70px;
    margin-left: 26%;
    margin-bottom: 50px;
    background-color: #ffffff;
    height: 600px;
}

label{
    color: #777777;
}

.gaming{
    height: 250px;
}